# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfplan

# Lambda (Python or Node)
__pycache__/
*.py[cod]
*.zip
node_modules/
*.log

# Scripts
*.sh~
*.bak
*.swp
*.ps1

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Local error logs
errors.txt

# Build/automation files you don’t want public
Makefile